.boxCleanCart {
}

.labelNoProducts {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
}

.mainLabel {
    font-size: 25px;
    font-family: 'Amaranth', sans-serif;
}
