@charset "UTF-8";

.iconButton {
	padding-left: 10px;
	padding-right: 10px;
}

.box {
	height: 400px;
	width: 400px;
	text-align: center;
	margin: 10px auto;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.row-client {
	font-size: 15px;
	border-bottom-width: 1px;
	border-style: solid;
	border-left: none;
	border-right: none;
	border-top: none;
}

.border-bottom {
	border-bottom-width: 1px;
	border-style: solid;
	border-left: none;
	border-right: none;
	border-top: none;
}

.label-client {
	font-size: 15px;
}